body {
    background-color: #f9f7cf;
}

header, footer {
    background-color: #f2dcbb;
}

header, footer, main {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 480px;
}